html, body {
    width: 100%;
    background-color: #C78644;
}

.dishes {
    display: flex;
}

.dish {
    width: 100%;
}

.candies {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.candy {
    width: 10%;
}

input[type="text"] {
    margin-left: 32%;
    height: 12%;
    border-radius: 10px;
    text-align: center;
}

.div_for_img_a {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 108px;
    left: 6%;
    width: 25%;
}

.div_for_img_b {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 25%;
    top: 111px;
    left: 39%;
}

.div_for_img_c {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 25%;
    top: 108px;
    left: 72%;
}

.add {
    width: 30%;
    /* width: 10%; */
}