html, body {
    width: 100%;
    background-color: #C78644;
}

.dishes {
    display: flex;
}

.dish {
    width: 100%;
}

.candies {
    display: flex;
    flex-wrap: wrap;
}

.candy {
    width: 10%;
}

input[type="text"] {
    margin-left: 32%;
    height: 12%;
    border-radius: 10px;
    text-align: center;
}