html,body{
    width: 100%;
}

.outside_wrapper{
    margin-top: 170px;
}

.main_content{
    border: 1px solid black;
    height: 100px;
}

.outside_displaying_content{
    display: none;
    margin-top: 70px;
}

.displaying_content{
    display: none;
    border: 1px solid black;
    height: 100px;
}

.inputting_value{
    margin-top: 60px;
}

.displaying_content_filed{
    display: none;
    margin-top: 30px;
}

.btn{
    display: none;
}

.add{
    border: 1px solid black;
    height: 100px;
}
